/* .App {
  text-align: center;
} */

.font-promptRegu {
  font-family: "PromptRegular";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F4F1F8;
  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0000FF;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}

.loader:after {
  animation-delay: 0.5s
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px)
  }
}